binary "https://sparkle-project.org/Carthage/Sparkle.json"
github "charliewutwut/TransformerKit" "ec67a0c755b7b1eaea4cb6078151919f0f451d6f"
github "charliewutwut/KeePassKit" "89f8c7c185b6d77d48fd004857eccab9a0015974"
github "mstarke/HNHUi" ~> 6.0
